doctype html
html
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')

		title= audio.name + ' | VRBL'
		link(rel='shortcut icon', href='/favicon.ico?v=2', type='image/x-icon')

		link(href='/styles/normalize.css', rel='stylesheet')
		link(href='/styles/player.css', rel='stylesheet')
	body
		#player.player
			img.player__image(src=audio.image.url)
			.player__image-overlay
			a.js-play.play-btn(href=audio.soundCloudURL) Play
			.player__actions.clearfix
				a.download(href='#')
				a#share.share(href='#')
			.timeline#timeline
				.elapsed-container#elapsed-container
					.elapsed#elapsed-bar
				#elapsed-number.elapsed-number 00:00
				#duration.total 00:00
		#share-modal.share-modal
			h2 Share
			ul.share-buttons
				- var description = encodeURI(audio.name);
				li: a(href='https://www.facebook.com/sharer/sharer.php?u=' + data.fullUrl + '&t=' + description, title='Share on Facebook', target='_blank')
					img(alt='Share on Facebook', src='/images/facebook-icon.png')
				li: a(href='https://twitter.com/intent/tweet?source=' + data.fullUrl + '&text=' + description + ':%20' + data.fullUrl + '&via=vrblmedia', target='_blank' title='Tweet')
					img(alt='Tweet', src='/images/twitter-icon.png')
				li: a(href='https://plus.google.com/share?url=' + data.fullUrl, target='_blank', title='Share on Google+')
					img(alt='Share on Google+', src='/images/google-icon.png')
				li: a(href='http://www.reddit.com/submit?url=' + data.fullUrl + '&title=' + description, target='_blank', title='Submit to Reddit')
					img(alt='Submit to Reddit', src='/images/reddit-icon.png')
				li: a(href='http://www.linkedin.com/shareArticle?mini=true&url=' + data.fullUrl + '&title=' + description + '&summary=&source=' + data.fullUrl, target='_blank', title='Share on LinkedIn')
					img(alt='Share on LinkedIn', src='/images/linkedin-icon.png')
				li: a(href='mailto:?subject=' + description + '&body=:%20' + data.fullUrl, target='_blank', title='Send email')
					img(alt='Send email', src='/images/email-icon.png')
			h2 Embed Code
			input.share-modal__embed-code(type='text' value='<iframe src="' + data.fullUrl + '" frameborder="0" scrolling="no" width="100%" height="450px"></iframe>')