include ../mixins/flash-messages

doctype html
html.no-js
	head
		script.
			(function (H) {H.className=H.className.replace(/\bno-js\b/, 'js')})(document.documentElement);
		meta(name='robots', content='noindex')
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')

		title= title || 'VRBL'
		link(rel='shortcut icon', href='/favicon.ico?v=2', type='image/x-icon')

		link(href='/styles/main.min.css', rel='stylesheet')

		//- This file provides the default styling for the KeystoneJS Content Editor
		if user && user.canAccessKeystone
			link(href='/keystone/styles/content/editor.min.css', rel='stylesheet')

		block css
		block head
	body(class=section ? section : null)

		//- HEADER
		.main-header.clearfix: .container
			.site-links
				.logo: a(href='/'): img(src='/images/logo.png', width='124', height='53')
				nav.main-navigation: ul.menu-list
					li.menu-item.categories
						a(href='#') Topics
						ul.menu-list.categories-dropdown
							each category in menu.categories
								li: a(href='/categories/' + category.slug)= category.name
			ul.menu-list.social-links
				li.social-links__item: a(href='#'): img(src='/images/facebook-icon.png' alt='See VRBL on Facebook')
				li.social-links__item: a(href='#'): img(src='/images/twitter-icon.png' alt='See VRBL on Twitter')
				li.social-links__item: a(href='#'): img(src='/images/instagram-icon.png' alt='See VRBL on Instagram')
				li.social-links__item: a(href='#'): img(src='/images/youtube-icon.png' alt='See VRBL on Youtube')

		block intro

		+flash-messages(messages)

		.no-fouc
			block content

		.footer.clearfix: .container
			.logo: a(href='/'): img(src='/images/logo.png', width='124', height='53')
			ul.menu-list
				li.menu-item: a(href='#') Become a contributor
				li.menu-item: a(href='#') About us
				li.menu-item: a(href='#') Contact us
				li.menu-item: a(href='#') Terms &amp; conditions
				li.menu-item: a(href='#') Privacy policy

			// p <a href='http://flinzmedia.com' target='_blank'>Website design &amp; development</a> by Flinz Media.

		script.
			document.getElementsByClassName('no-fouc')[0].style.display = 'block';
		script(src='/js/vendor.js')

		//- The KeystoneJS Content Editor provides support for ks-editable data attributes,
		//- which generate links to edit content for users who can access Keystone
		if user && user.canAccessKeystone
			script(src='/keystone/js/content/editor.js')


		//- Include template-specific javascript files by extending the js block
		block js