*,
*:before,
*:after {
	box-sizing: border-box;
}

html, body {
	font-family: 'Open Sans', sans-serif;
	font-size: 100%;
}

body {
	margin-top: 11em;
	background-color: #eee;
}

.container {
	width: 100%;
	padding: 0 1em;
	margin: 0 auto;
}

.clearfix:after {
	content: '';
	display: table;
	clear: both;
}

.nude-list {
	list-style-type: none;
	padding-left: 0;
	margin: 0;
}


/**
	Main Header
 */

.main-header {
	position: fixed;
	padding: 1em 0;
	background-color: #fff;
	z-index: 9;
	top: 0;
	width: 100%;
	text-align: center;
	border-bottom: 1px solid #ddd;
}

.logo {
	margin-bottom: 1em;
}

.logo img {
	max-width: 100%;
	height: auto;
}

.navigation {
	margin-top: -20em;
	margin-bottom: 1em;
	transition: margin-top .3s;
}

.navigation.is-visible {
	margin-top: 0;
}

.navigation li + li {
	border-top: 1px solid #ddd;
}

.navigation a,
.navigation-toggle {
	text-decoration: none;
	color: #333;
}

.navigation a {
	display: block;
	padding: 1em 0;
}

.navigation-toggle {
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #fff;
	padding: 0 15px 10px 15px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}

.navigation-toggle:after {
	content: '';
	border-color: transparent;
	border-style: solid;
	border-width: 7px 6px 0 6px;
	border-top-color: #555;
	display: inline-block;
	vertical-align: middle;
	margin-left: .25em;
	width: 0;
	height: 0;
}

.navigation-toggle.is-toggled:after {
	border-width: 0 6px 7px 6px;
	border-bottom-color: #555;
	border-top-color: transparent;
}

.social-links {
	height: 0;
	overflow: hidden;
	transition: height .3s;
}

.social-links.is-visible {
	height: 2em;
	margin-bottom: 1em;
}

.social-links li {
	display: inline-block;
}

.social-links img {
	width: 32px;
	height: auto;
}


/**
	Main Footer
 */

.footer {
	border-top: 1px solid #b6b6b6;
	margin-top: 70px;
	padding: 50px 0;
}

.footer-logo,
.footer-navigation {
	display: inline-block;
	vertical-align: middle;
}

.footer-logo {
	padding-right: 2em;
	border-right: 1px solid #b6b6b6;
}

.footer a {
	color: #bbb;
	font-size: .875em;
	line-height: 24px;
	text-decoration: none;
}


/**
	Titles
 */
.title {
	color: #3d3e3d;
}

.section-title {
	font-size: 36px;
	margin-top: 0;
	margin-bottom: .5em;
}


/**
	Audios Sections
 */

.audios {
	margin-top: 70px;
}

.featured-audios {
	margin-top: 1.5em;
}

.related-audios {
	max-width: 55em;
}

.audio {
	width: 100%;
	position: relative;
}

.audio__image-container {
	position: relative;
	padding-bottom: 100%;
	height: 0;
}

.audio__image {
	width: 100%;
	display: block;
	height: auto;
}

.audio__info {
	position: absolute;
	padding: 1em;
	width: 100%;
	bottom: 0;
	left: 0;
	text-decoration: none;
	color: #fff;
}

.audio__author,
.highlighted {
	background-color: rgba(0, 0, 0, 0.8);
}

.audio__author {
	display: inline-block;
}

.highlighted {
	background-image: linear-gradient(transparent calc(100% - 6px), white 6px);
	background-size: 0% 100%;
	background-repeat: no-repeat;
	background-position: 0 100%;
	transition: background-size .8s;
}

.audio__title,
.audio__author {
	margin: 0;
}

.audio__title {
	font-size: 1.5em;
	line-height: 1.5;
	margin-top: .2em;
}

.audio .play-btn,
.audio .pause-btn {
	position: absolute;
	top: 1em;
	left: 1em;
}


/**
	Single Audio
 */
.single {
	margin-top: 3.125em;
}

.single__content {
	width: 100%;
	font-size: 1.125em;
	color: #3d3e3e;
	line-height: 30px;
}

.single__header {
	margin-bottom: 3.125em;
}

.single__title {
	margin-top: 0;
	margin-bottom: 0;
}

.single__author {
	color: #3d3e3e;
	font-weight: 100;
	margin-top: 5px;
}

.single__ads {
	max-width: 18.75em; /* 300px */
	margin: 0 auto;
}

.single__ads-block:not(:first-child) {
	display: none;
}

.single__ads img {
	width: 100%;
	height: auto;
}


/**
	Error Sections
*/

.error-section {
	background-color: #ccc;
	color: #bbb;
	text-align: center;
	line-height: 10em;
	font-size: 2em;
}


/**
	Share Buttons
 */

.share a {
	text-decoration: none;
	display: inline-block;
	padding-left: 30px;
	line-height: 24px;
}

.share a + a {
	margin-left: 1em;
}

.share__facebook {
	color: #3c579e;
	background: url('/images/share-icons/facebook-share-icon.png') no-repeat center left;
}

.share__twitter {
	color: #55acee;
	background: url('/images/share-icons/twitter-share-icon.png') no-repeat center left;
}


/**
	Buttons
*/

.play-btn {
	display: block;
	position: relative;
	width: 50px;
	height: 50px;
	text-indent: 100%;
	overflow-x: hidden;
	border: 4px solid #fff;
	border-radius: 100%;
	transition: background-color .2s;
}

.play-btn:before,
.play-btn:after {
	content: '';
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.play-btn:before {
	width: 0;
	height: 0;
	margin-left: 3px;
	border-color: transparent;
	border-left-color: #fff;
	border-width: 10px 0 10px 14px;
	border-style: solid;
}

.play-btn:hover:not(.is-loading) {
	background-color: #fff;
}

.play-btn:hover:before {
	border-left-color: #333;
}

.is-playing:before,
.is-playing:after {
	width: 5px;
	height: 18px;
	background-color: #fff;
}

.is-playing:before {
	border: none;
	margin-left: -5px;
}

.is-playing:after {
	margin-left: 5px;
}

.is-playing:hover:before,
.is-playing:hover:after {
	background-color: #333;
}

.is-loading:before {
	display: none;
}

.is-loading:after {
	width: 20px;
	height: 20px;
	background-color: #fff;
	border-radius: 100%;
	animation: .3s infinite alternate loading;
}

@keyframes loading {
	0% {width: 0; height: 0;}
	100% {width: 100%; height: 100%;}
}


/**
	Audio Player
 */

.player {
	background-color: #fff;
	color: #333;
	position: fixed;
	bottom: -100%;
	left: 0;
	width: 100%;
	text-align: center;
	padding: 1em 0;
	transition: bottom .5s;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.player:after {
	content: '';
	display: table;
	clear: both;
}

.player.is-visible {
	bottom: 0;
}

.player-thumbnail {
	display: none;
}

.player .play-btn,
.player-info {
	float: left;
}

.player-close {
	float: right;
	text-decoration: none;
	width: 1.5em;
	height: 1.5em;
	line-height: 1.4;
	border: 1px solid #333;
	border-radius: 100%;
	margin-top: 13px;
}

.player .play-btn {
	margin-right: 1em;
	border-color: #333;
	border-width: 3px;
}

.player .play-btn:before {
	border-left-color: #333;
}

.player .is-playing:before,
.player .is-playing:after {
	background-color: #333;
}

.player .is-loading:after {
	background-color: #333;
}

.player-info {
	text-align: left;
	width: calc(100% - 50px - 4em);
}

.player-title {
	font-weight: 400;
	font-size: .875em;
	white-space: nowrap;
	margin: 0;
	overflow: hidden;
	text-overflow: ellipsis;
}

.player-progress {
	width: 100%;
	margin: 0 auto;
}

.player-timer,
.player-duration {
	font-size: .75em;
}

.player-timer {
	float: left;
}

.player-duration {
	float: right;
}

.player-bar-container {
	padding: 2px;
	height: .625em;
	border: 1px solid #ccc;
	border-radius: 5px;
	margin: 5px 0;
	cursor: pointer;
}

.player-bar {
	background-color: #333;
	border-radius: 5px;
	width: 0;
	max-width: 100%;
	height: 100%;
}


/**
	Reponsive Styles
 */

@media (max-width: 60em) {
	.footer .menu-list {
		margin-top: 2em;
	}

	.footer .logo {
		display: block;
	}

	.audio + .audio {
		margin-top: 1em;
	}
}

@media (min-width: 48.0625em) { /* 768px */
	body {
		margin-top: 7em;
	}

	.main-header {
		text-align: left;
	}

	.logo {
		float: left;
		margin-bottom: 0;
	}

	.navigation {
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		background-color: #fff;
		border-top: 1px solid #ddd;
		margin-top: -25em;
	}

	.navigation:before {
		content: '';
		position: absolute;
		width: 100%;
		height: 1px;
		background-color: #ddd;
		top: 50%;
		left: 0;
	}

	.navigation li {
		float: left;
		width: 33.33%;
		text-align: center;
	}

	.navigation li + li {
		border-top: none;
	}

	.navigation li:not(:nth-child(3n)) {
		border-right: 1px solid #ddd;
	}

	.navigation a {
		padding: 4em 0;
		transition: background-color .3s;
	}

	.navigation a:hover {
		background-color: #e0e0e0;
	}

	.navigation-toggle {
		display: inline-block;
		margin-top: 1.1em;
		margin-left: 1em;
		position: static;
		transform: none;
	}

	.social-links {
		float: right;
		margin-top: 12px;
	}

	.social-links.is-visible {
		margin-bottom: 0;
	}

	.footer .logo {
		margin-right: 2em;
	}

	.player-thumbnail {
		display: block;
		float: left;
		width: 3em;
		margin-right: 1em;
	}

	.player-info {
		width: calc(100% - 50px - 8em);
	}
}

@media (min-width: 60.0625em) { /* 960px */
	.social-links__item {
		opacity: .8;
		transition: opacity .3s;
	}

	.social-links__item:hover {
		opacity: 1;
	}

	.social-links__item + .social-links__item {
		margin-left: 1em;
	}

	.categories a {
		padding: 10px;
	}

	.categories-dropdown {
		position: absolute;
	}

	.audio {
		width: 25%; /* 300px */
		float: left;
	}

	.big-audio {
		width: 50%; /* 600px */
	}

	.related-audios .audio {
		width: 33.33%;
		height: auto;
	}

	.audio__info:hover .highlighted {
		background-color: rgba(0, 0, 0, 1);
		background-size: 100% 100%;
	}
}

@media (min-width: 75.0625em) { /* 1200px */
	.container {
		max-width: 75em;
		padding: 0;
	}

	.big-audio .audio__author {
		font-size: 24px;
	}

	.audio__title {
		margin-top: .2em;
		font-size: 1.5em;
	}

	.big-audio .audio__title {
		font-size: 3em; /* 48px */
		line-height: 1.45;
	}

	.related-audios .audio__title {
		font-size: 1.125em;
		line-height: 1.2;
	}


	.single__title,
	.single__content {
		max-width: 75%;
	}

	.single__title {
		font-size: 3.75em;
	}

	.single__content {
		float: left;
	}

	.single__ads {
		float: right;
		width: 20%;
	}

	.single__ads-block:not(:first-child) {
		display: block;
	}
}