*,
*:before,
*:after {
	box-sizing: border-box;
}

html, body {
	font-family: 'Open Sans', sans-serif;
	font-size: 100%;
}

.container {
	width: 100%;
	padding: 0 1em;
	margin: 0 auto;
}

.clearfix:after {
	content: '';
	display: table;
	clear: both;
}


/**
	Menus
 */

.menu-list {
	list-style-type: none;
	padding-left: 0;
	margin: 0;
}

.menu-item a {
	display: block;
	text-decoration: none;
}


/**
	Main Header
 */

.logo img {
	max-width: 100%;
	height: auto;
}

.main-header {
	padding: 1em 0;
	background-color: #eee;
	position: relative;
	z-index: 9;
}

.main-navigation > .menu-list {
	margin-top: 8px;
}

.categories {
	display: inline-block;
	vertical-align: middle;
}

.categories a {
	background-color: #b5ccda;
	color: #3d3e3e;
	padding: 10px;
}

.categories > a {
	font-size: 1.125em;
	font-weight: 900;
	text-transform: uppercase;
}

.categories a:hover {
	background-color: #a6bfce;
}

.categories > a:after {
	content: '';
	background: url('/images/arrow.png');
	display: inline-block;
	width: 16px;
	height: 10px;
	margin-left: 5px;
	position: relative;
	top: -1px;
}

.categories-dropdown {
	display: none;
	position: absolute;
	min-width: 200px;
}

.categories:hover .categories-dropdown {
	display: block;
}

.social-links__item img {
	width: 32px;
	height: auto;
}


/**
	Main Footer
 */

.footer {
	border-top: 1px solid #b6b6b6;
	margin-top: 70px;
	padding: 50px 0;
}

.footer .logo,
.footer .menu-list {
	display: inline-block;
	vertical-align: middle;
}

.footer .logo {
	margin-right: 2em;
}

.footer .menu-list {
	padding-left: 2em;
	border-left: 1px solid #b6b6b6;
}

.footer .menu-item a {
	color: #bbb;
	font-size: .875em;
	line-height: 24px;
}


/**
	Titles
 */
.title {
	color: #3d3e3d;
}

.section-title {
	font-size: 36px;
	margin-top: 0;
	margin-bottom: .5em;
}


/**
	Audios Sections
 */

.highlighted {
	background-color: rgba(0, 0, 0, 0.8);
	transition: background-color .3s;
}

.audios {
	margin-top: 70px;
}

.featured-audios {
	margin-top: 1.5em;
}

.related-audios {
	max-width: 55em;
}

.audio {
	width: 100%;
	position: relative;
}

.audio__image {
	width: 100%;
	display: block;
	height: auto;
}

.audio__info {
	position: absolute;
	padding: 1em;
	width: 100%;
	bottom: 0;
	left: 0;
	text-decoration: none;
	color: #fff;
}

.audio__title,
.audio__author {
	margin: 0;
}

.audio__title {
	font-size: 1.5em;
	line-height: 1.25;
}

.audio .play-btn,
.audio .pause-btn {
	position: absolute;
	top: 1em;
	left: 1em;
}


/**
	Single Audio
 */
.single {
	margin-top: 3.125em;
}

.single__content {
	width: 100%;
	font-size: 1.125em;
	color: #3d3e3e;
	line-height: 30px;
}

.single__header {
	margin-bottom: 3.125em;
}

.single__title {
	margin-top: 0;
	margin-bottom: 0;
}

.single__author {
	color: #3d3e3e;
	font-weight: 100;
	margin-top: 5px;
}

.single__ads {
	max-width: 18.75em; /* 300px */
	margin: 0 auto;
}

.single__ads-block:not(:first-child) {
	display: none;
}

.single__ads img {
	width: 100%;
	height: auto;
}


/**
	Reponsive Styles
 */

@media (max-width: 60em) {
	.footer .menu-list {
		margin-top: 2em;
	}

	.site-links {
		margin-top: 1.25em;
		float: left;
	}

	.social-links {
		float: right;
	}

	.audio + .audio {
		margin-top: 1em;
	}
}

@media (min-width: 60.0625em) {
	.logo,
	.main-navigation {
		float: left;
	}

	.logo {
		margin-right: 2em;
	}

	.social-links {
		float: right;
		margin-top: 12px;
	}

	.social-links__item {
		display: inline-block;
		opacity: .8;
		transition: opacity .3s;
	}

	.social-links__item:hover {
		opacity: 1;
	}

	.social-links__item + .social-links__item {
		margin-left: 1em;
	}

	.audio {
		width: 25%; /* 300px */
		float: left;
	}

	.big-audio {
		width: 50%; /* 600px */
	}

	.related-audios .audio {
		width: 33.33%;
		height: auto;
	}

	.audio__info:hover .highlighted {
		background-color: rgba(0, 0, 0, 1);
	}
}

@media (min-width: 75.0625em) {
	.container {
		max-width: 75em;
		padding: 0;
	}

	.big-audio .audio__author {
		font-size: 24px;
	}

	.audio__title {
		margin-top: .2em;
		font-size: 1.5em;
	}

	.big-audio .audio__title {
		font-size: 3.75em; /* 60px */
		line-height: 1.2;
	}

	.related-audios .audio__title {
		font-size: 1.125em;
		line-height: 1.2;
	}


	.single__title,
	.single__content {
		max-width: 75%;
	}

	.single__title {
		font-size: 3.75em;
	}

	.single__content {
		float: left;
	}

	.single__ads {
		float: right;
		width: 20%;
	}

	.single__ads-block:not(:first-child) {
		display: block;
	}
}

/**
	Error Sections
*/

.error-section {
	background-color: #ccc;
	color: #bbb;
	text-align: center;
	line-height: 10em;
	font-size: 2em;
}


/**
	Share Buttons
 */

.share a {
	text-decoration: none;
	display: inline-block;
	padding-left: 30px;
	line-height: 24px;
}

.share a + a {
	margin-left: 1em;
}

.share__facebook {
	color: #3c579e;
	background: url('/images/share-icons/facebook-share-icon.png') no-repeat center left;
}

.share__twitter {
	color: #55acee;
	background: url('/images/share-icons/twitter-share-icon.png') no-repeat center left;
}


/**
	Buttons
*/

.play-btn,
.pause-btn {
	width: 50px;
	height: 50px;
	text-indent: 100%;
	overflow-x: hidden;
}

.play-btn {
	background: url('/images/play.png') no-repeat center;
}

.pause-btn {
	background: url('/images/pause.png') no-repeat center;
}


/**
	Audio Player
 */

.player {
	background-color: #000;
	color: #fff;
	position: fixed;
	bottom: -100%;
	left: 0;
	width: 100%;
	text-align: center;
	padding: 1em 0;
	transition: bottom .5s;
}

.player .play-btn,
.player .pause-btn,
.timeline,
.player__actions,
.elapsed-number,
.elapsed-container,
.total {
	display: inline-block;
	vertical-align: middle;
}

.timeline {
	width: 100%;
	margin: 0 auto;
}

.elapsed-number,
.total {
	font-size: .875em;
}

.elapsed-container {
	padding: 2px;
	height: .625em;
	background-color: #fff;
	border-radius: 5px;
	width: 60%;
	margin: 0 5%;
}

.elapsed {
	background-color: #000;
	border-radius: 5px;
	width: 0;
	height: 100%;
}